{
  "useTabs": true,
  "tabWidth": 8,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-sh",
    "prettier-plugin-apex",
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
